<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Tesla T-Life Components</title>
  
  <!-- THIS IS A LINK TO THE EXTERNAL .CSS --> 
<link rel="stylesheet" href="layout.css">
        
</head>
    
<body>
<div style="max-width:1200px;width:100%">

	
	
<!-- PAGE POSTS --> 
<div class = "page_posts">
	<img src="img/teslabike.jpg" alt="bike with tesla"/>
	<p class = "section">BIKE WITH TESLA</p>
	<p>Bring your bike anywhere with Tesla. Today we speak to Elis Gold about her experience with Tesla and her bike in Los Angeles, including her favourite spots to bike, her bikemates, her tesla bike gears and more. </p>
</div>
	
<div class = "page_posts">
	<img src="img/teslatrail.jpg" alt="trail with tesla"/>
	<p class = "section">TRAIL WITH TESLA</p>
	<p>Travel around in your trailer with Tesla. Today we speak to Mark Smith about his experience with Tesla and his trailer in the Utah, including his favourite spots in Utah, his Tesla camping accessories and more.</p>
</div>
	
<div class = "page_posts">
	<img src="img/teslasurf.jpg" alt="surf with tesla"/>
	<p class = "section">SURF WITH TESLA</p>
	<p>Going Surfing? Today we speak to Angela Kenly at the Bondi Beach in Sydney with her Tesla. How does she commute in the beach community? Where is her favourite spot to drive up her Tesla and unpack for some daily surf.</p>
</div>
	
<div class = "page_posts">
	<img src="img/teslabike.jpg" alt="bike with tesla"/>
	<p class = "section">BIKE WITH TESLA</p>
	<p>Bring your bike anywhere with Tesla. Today we speak to Elis Gold about her experience with Tesla and her bike in Los Angeles, including her favourite spots to bike, her bikemates, her tesla bike gears and more. </p>
</div>
	
<div class = "page_posts">
	<img src="img/teslatrail.jpg" alt="trail with tesla"/>
	<p class = "section">TRAIL WITH TESLA</p>
	<p>Travel around in your trailer with Tesla. Today we speak to Mark Smith about his experience with Tesla and his trailer in the Utah, including his favourite spots in Utah, his Tesla camping accessories and more.</p>
</div>
	
<div class = "page_posts">
	<img src="img/teslasurf.jpg" alt="surf with tesla"/>
	<p class = "section">SURF WITH TESLA</p>
	<p>Going Surfing? Today we speak to Angela Kenly at the Bondi Beach in Sydney with her Tesla. How does she commute in the beach community? Where is her favourite spot to drive up her Tesla and unpack for some daily surf.</p>
</div>
	
<!-- HERO --> 
    <div class="herocontainer">
     <img src="img/nordictesla.jpg" alt="tesla on nordic ice" style="width:100%;"/>
	 <div class="bottom_centered">
     <p class="hero_text_headline"> Nordic Drive</p>
     <p>
     In our latest podcast, the director of “Tom & Jerry” discusses the “education” he received in animation production on the hybrid feature.
     </p>
	</div>
	</div>
	
</div>	
</body>
</html>

